body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(8px);
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header nav ul li {
    margin: 0 15px;
    font-size: 20px;
    font-weight: bold;
}

.header ul li a {
    text-decoration: none;
    color: rgb(5, 5, 61);
}

.header ul li a:hover {
    color: red;
}

.header .logo {
    font-size: 30px;
    color: black;
    font-weight: bolder;
}

footer {
    text-align: center;
    background-color: transparent;
    backdrop-filter: blur(2px);
    padding: 2px;
    width: 100%;
    color: black;
    font-weight: bold;
    position: relative;
    bottom: 0;
}


.cnt {
    margin-top: 100px;
    text-align: center;
}

.cbv {
    margin: 20px 0;
}

.cbv nav {
    margin-bottom: 10px;
}

.cbv h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.cbv span {
    color: red;
    font-weight: bold;
}

.cbv p {
    margin-bottom: 10px;
}

.list ul {
    list-style: none;
    padding: 0;
}

.list li {
    margin-bottom: 5px;
}

.list h1 {
    font-size: 22px;
}

.list del {
    color: gray;
}

.list span {
    color: red;
    font-weight: bold;
}
.button{
    color:white;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    padding: 10px 20px;
    background-color: red;
    margin-bottom: 10px;
}
.button:hover{
    color: rgb(40, 2, 2);
}
.nxt{
    color:white;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    padding: 10px 20px;
    background-color: red;
    margin-bottom: 10px;
}
.nxt:hover{
    color: rgb(40, 2, 2);
}

